
<h2 class="text-sm text-gray-900 dark:text-white font-bold mb-2">Turnos</h2>

<div class="flex items-center max-w-sm mx-auto">   
    <label for="simple-search" class="sr-only">Search</label>
    <div class="relative w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm12 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm0 0V6a3 3 0 0 0-3-3H9m1.5-2-2 2 2 2"/>
            </svg>
        </div>
        <input id="datepicker-format" datepicker  datepicker-format="dd-mm-yyyy" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Selecciona la fecha" [(ngModel)]="fechaSeleccionada" >
    </div>
    <button type="button" class="p-2.5 ms-2 text-sm font-medium text-white bg-blue-700 rounded-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" (click)="changeFecha($event)">
        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
        </svg>
        <span class="sr-only">Search</span>
    </button>
</div>



<div class="mt-4 grid grid-cols-2 md:grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-4">
    
    <button *ngFor="let item of paginatedItems"  href="#" class="md:mt-4 flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700" (click)="open(item)">
        <h1 class="px-4">{{item.turno}}</h1>
        <div class="md:hidden w-full border-t border-gray-300 dark:border-gray-700 my-2"></div>
        <div class="h-full border-l border-gray-300 dark:border-gray-700 mx-2"></div>
        <div class="flex flex-col justify-between p-3 leading-normal">
            <!-- <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Capacidad: {{item.capacidad}}</h5>             
            <h5 class="text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Asistentes: {{item.asistentes}}</h5> -->
            <span class="bg-green-100 text-green-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Capacidad: {{item.capacidad}}</span>
            <span class="bg-red-100 text-red-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300 mt-4">Asistentes: {{item.asistentes}}</span>
        </div>
    </button>

</div>
  
<mat-paginator class="bg-gray-700 text-white mt-5 rounded-lg" [pageSizeOptions]="[4, 8, 16, 20]" [pageSize]="pageSize" [length]="turnos.length" [pageIndex]="pageIndex" (page)="onPageChange($event)"  showFirstLastButtons></mat-paginator>