    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <!-- <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="Your Company">            
        </div> -->
      
        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm bg-white p-4 rounded-lg">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Inicia Sesión Con Tu Usuario</h2>
            <div>
                <app-input label="Usuario" typeForm="text" [controller]="user" ></app-input>   
            </div>
    
            <div>
                <div class="mt-2">
                    <app-input label="Contraseña" typeForm="password" [controller]="password" ></app-input>                     
                </div>
                <!-- <div class="flex items-center justify-between mt-2">            
                    <div class="text-sm">
                        <button href="#" class="font-semibold text-indigo-600 hover:text-indigo-500" (click)="recoverPassword()">Recordar Contraseña?</button>
                    </div>
                </div> -->
            </div>
    
            <div>
                <button 
                    type="button"
                    class="w-full mt-4 p-2 rounded-md bg-indigo-600 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                    (click)="login()"
                    >
                    Inicia Sesión
                </button>
            </div>
        </div>
      </div>